src/com/gint/app/bisis4/client/circ/docs/validator.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="form-validation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="global" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="formset" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="global">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="constant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="javascript" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="classname" use="required" type="xs:string"/>
			<xs:attribute name="method" use="required" type="xs:string"/>
			<xs:attribute name="methodParams" use="required" type="xs:string"/>
			<xs:attribute name="msg" use="required" type="xs:string"/>
			<xs:attribute name="depends" type="xs:string"/>
			<xs:attribute name="jsFunctionName" type="xs:string"/>
			<xs:attribute name="jsFunction" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="javascript">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="constant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constant-name"/>
				<xs:element ref="constant-value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constant-name">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="constant-value">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="formset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constant" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="form" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="language" type="xs:string"/>
			<xs:attribute name="country" type="xs:string"/>
			<xs:attribute name="variant" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="extends" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="msg"/>
				<xs:element ref="arg"/>
				<xs:element ref="var"/>
			</xs:choice>
			<xs:attribute name="property" use="required" type="xs:string"/>
			<xs:attribute name="depends" type="xs:string"/>
			<xs:attribute name="page" type="xs:string"/>
			<xs:attribute name="indexedListProperty" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="msg">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="key" use="required" type="xs:string"/>
					<xs:attribute name="name" use="required" type="xs:string"/>
					<xs:attribute name="bundle" type="xs:string"/>
					<xs:attribute name="resource" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="arg">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="key" use="required" type="xs:string"/>
					<xs:attribute name="bundle" type="xs:string"/>
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="resource" type="xs:string"/>
					<xs:attribute name="position" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="var">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="var-name"/>
				<xs:element ref="var-value"/>
				<xs:element ref="var-jstype" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="resource" type="xs:string"/>
			<xs:attribute name="bundle" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="var-name">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="var-value">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="var-jstype">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
